<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.dao.AdminDao">
    <!-- 定义一个查询操作，通过传入的参数动态生成模糊查询条件，查询 admin 表中的数据 -->
    <select id="findBySearch" resultType="org.example.entity.Admin">
        select * from admin
        <!-- 使用 <where> 元素包裹动态生成的条件部分 -->
        <where>
            <!-- 根据参数中的 params 对象及其 name 属性的值，动态生成条件 -->
            <if test="params !=null and params.name!=null and params.name!=''">
                and name like concat('%',#{params.name},'%')
            </if>
        </where>
    </select>

</mapper>
